body {
  font-family: 'Montserrat', sans-serif; }

.body {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-areas: 'header' 'section' 'footer';
  grid-template-rows: auto 110% auto;
  grid-template-columns: auto;
  height: auto; }

#header {
  grid-area: header;
  width: 100%;
  height: auto;
  background-color: #7B9331; }
  #header .nav-link {
    margin-left: 20px; }
  #header .nav-link:hover {
    color: black; }

section {
  grid-area: section;
  height: 100%; }

.eslogan {
  width: auto;
  height: 500px;
  background-size: cover;
  display: flex;
  align-items: center; }
  .eslogan p {
    margin-left: 110px;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px; }

#nosotros {
  background-color: #131212; }
  #nosotros img {
    width: 100%;
    height: 400px; }
  #nosotros h2 {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px; }
  #nosotros p {
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 20px; }

#productos h3 {
  color: #7B9331;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 30px; }

.productos .card {
  margin-top: 17px; }

.productos .card-text {
  color: #FFFFFF;
  text-align: center;
  background-color: #8d7a69; }

.btn-catalogo .btn-primary {
  background-color: #7B9331;
  border: 3px solid #7B9331;
  border-radius: 20px;
  width: 30%;
  margin-top: 20px;
  box-shadow: 1px 3px #3b4d08; }

.btn-catalogo a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none; }

.marcas h3 {
  text-align: center;
  color: #7B9331;
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 30px; }

#contactos {
  background-color: #7B9331;
  margin-top: 70px; }
  #contactos .card {
    background-color: #7B9331;
    border: none; }
  #contactos h5 {
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px; }
  #contactos p {
    color: #FFFFFF; }

.flecha {
  width: 2.7%;
  text-align: end;
  margin-left: 95%;
  position: absolute;
  position: fixed;
  top: 560px;
  z-index: 1; }

.titulo-catalogo h2 {
  color: #7B9331;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px; }

.catalogo {
  margin: auto;
  width: 100%;
  padding: 30px; }
  .catalogo ul, .catalogo li {
    padding: 0;
    margin: 0;
    list-style: none; }
  .catalogo ul.slider {
    position: relative;
    width: auto;
    margin-top: 20px; }
  .catalogo ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .8s; }
  .catalogo ul.slider li img {
    width: 100%;
    height: auto;
    object-fit: cover; }
  .catalogo ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/ }
  .catalogo ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/ }

.menu {
  text-align: center;
  margin: 20px; }

.menu li {
  display: inline-block;
  text-align: center;
  margin-top: 20px; }

.menu li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  background-color: grey;
  padding: 0px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 100%; }

.footer {
  margin-top: 50px;
  grid-area: footer; }

@media (max-width: 980px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 85% auto;
    grid-template-columns: auto;
    height: auto; }
  .eslogan {
    background-size: auto; } }

@media (max-width: 770px) {
  .btn-catalogo .btn-primary {
    width: 50%; }
  .flecha {
    margin-left: 93%; } }

@media (max-width: 767px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 110% auto;
    grid-template-columns: auto;
    height: auto; }
  .eslogan p {
    margin-left: 0; } }

@media (max-width: 576px) {
  .flecha {
    margin-left: 88%; }
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 105% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 575px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 280% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 560px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 276% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 540px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 260% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 503px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 250% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 476px) {
  .flecha {
    margin-left: 85%; }
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 230% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 466px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 230% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 445px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 210% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 420px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 190% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 400px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 180% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 370px) {
  .flecha {
    margin-left: 82%;
    top: 630px; }
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 180% auto;
    grid-template-columns: auto;
    height: auto; } }

@media (max-width: 360px) {
  .body {
    display: grid;
    grid-template-areas: 'header' 'section' 'footer';
    grid-template-rows: auto 180% auto;
    grid-template-columns: auto;
    height: auto; }
  .eslogan p {
    margin-left: 0; } }
